<%=content_for :titulo do%>
  Sobre a empresa
<%end%>
<div class="row">
  <p>A missão desta empresa é simplificar e agilizar o desenvolvimento de softwares, com tecnologias de ponta e conceitos inovadores, nunca ficando presa a conceitos antigos e dogmas.</p>
  <p>Este site foi feito em 5 minutos, para demonstrar as habilidades desta equipe.</p>
</div>
</div>